@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 4em;
    margin: 5px 0;
}

.job {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #795548;
    margin: 20px 5px;
    border-radius: 2px;
}

.job > .progress {
    position: absolute;
    max-width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}

.job > .description {
    flex: 3;
    font-size: 1.8em;
    margin: 15px;
}

.job > .description > a {
    text-decoration: inherit;
    color: inherit;
}

.job > .days_left {
    flex: 1;
    margin: 15px;
}

.job.red {
    font-weight: bold;
    color: #711b14;
    border: 2px solid #a05050;
}

.job.red > .progress{
    background: -webkit-linear-gradient(top, #E57373 0%, #EF9A9A 50%);
}

.job.yellow {
    font-weight: bold;
    color: #6d5d2e;
    border: 2px solid #af9a5b;
}

.job.yellow > .progress {
    background: -webkit-linear-gradient(top, #FFE082 0%, #FFECB3 50%);
}

.job.green {
    font-weight: bold;
    color: #797445;
    border: 2px solid #a4af40;
}

.job.green > .progress {
    background: -webkit-linear-gradient(top, #D4E157 0%, #E6EE9C 50%);
}

.job .do_button {
    visibility: hidden;
    background: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
}

.job:hover .do_button {
    visibility: visible;
}

.add_button {
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 18px;
    border: 1px solid black;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    cursor: pointer;
    background-color: transparent;
    box-sizing: content-box;
}

.add_button:after {
    content: "+";
}

.add_job_container:hover .add_button {
    visibility: visible;
}

.delete_button {
    float: right;
}

