body {
    font-family: 'Lato', sans-serif;
}

.job {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #795548;
    margin: 20px 5px;
    border-radius: 2px;
}

.job > .progress {
    position: absolute;
    max-width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: lightblue;
}

.job > .description {
    flex: 3;
    font-size: 1.8em;
    margin: 15px;
}

.job > .days_left {
    flex: 1;
    margin: 15px;
}

.job.red {
    font-weight: bold;
    color: #711b14;
    border: 2px solid #a05050;
}

.job.yellow {
    font-weight: bold;
    color: #6d5d2e;
    border: 2px solid #af9a5b;
}

.job.green {
    font-weight: bold;
    color: #797445;
    border: 2px solid #a4af40;
}


.progress.red {
    background: -webkit-linear-gradient(top, #E57373 0%, #EF9A9A 50%);
}

.progress.yellow {
    background: -webkit-linear-gradient(top, #FFE082 0%, #FFECB3 50%);
}

.progress.green {
    background: -webkit-linear-gradient(top, #D4E157 0%, #E6EE9C 50%);
}
