{%- macro days_left_str(job) -%}
{% if job.days_left > 1 %}
{{ job.days_left }} Tage übrig
{% elif job.days_left == 1 %}
Morgen fällig
{% elif job.days_left == 0 %}
Heute fällig!
{% elif job.days_left == -1 %}
{{ -job.days_left }} Tag überfällig!
{% elif job.days_left < -1 %}
{{ -job.days_left }} Tage überfällig!
{% endif %}
{%- endmacro -%}

<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title">
        <h1>Aufgabenliste</h1>
    </div>
    <div class="content">
        {% for job in jobs %}
            <div class="job {{ job_class(job) }}">
                <div class="progress"
                     style="width: {{ job_width(job) }}%;" >
                </div>
                <div class="description">
                    <a href="{{ url_for('editjob', id=job.id) }}">{{ job.description }}</a>
                </div>
                <div class="days_left">{{ days_left_str(job) }}</div>
                <form action="{{ url_for('index') }}" method="POST" >
                    <button class="do_button" name="do" type="submit" value="{{ job.id }}">Erledigt!</button>
                </form>
            </div>
        {% endfor %}
        <div class="add_job_container">
            <form action="{{ url_for('index') }}" method="POST" >
                <button class="add_button" name="add" type="submit"></button>
            </form>
        </div>
    </div>
</body>
</html>

