{% macro status_class(job) -%}
{{ 'red' if job.days_left < 0 else '' }}
{{ 'yellow' if job.days_left <= 3 and job.days_left >= 0 else '' }}
{{ 'green' if job.days_left > 3 else '' }}"
{%- endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>StatusList</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
    <!--<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='job_colering.js') }}"></script> -->
</head>
<body>
    <div class="title">
        <h1>StatusList</h1>
    </div>
    <div class="content">
        {% for job in jobs %}
            <div class="job {{ status_class(job) }}">
                <div class="progress {{ status_class(job) }}"
                     style="width: {{ (1-job.days_left/10)*100 }}%;" >
                </div>
                <div class="description">
                    {{ job.description }}
                </div>
                <div class="days_left">
                    {{ job.days_left }} days left
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>

